Lenguaje de Marcas y Sistemas de Gestión de la Información/Tarea 4 (Validaciones XML y JSON)/premios.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="premios">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="edicion" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="categoria" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="pelicula" type="xs:string"/>
                    <xs:element name="ganadores" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="persona" type="xs:string" maxOccurs="unbounded"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="nombre" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="año" type="xs:gYear" use="required"/>
            <xs:attribute name="nombre" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
