Lenguaje de Marcas y Sistemas de Gestión de la Información/Tarea 4 (Validaciones XML y JSON)/premios.dtd

<!ELEMENT premios (edicion+)>
<!ELEMENT edicion (categoria+)>
<!ATTLIST edicion año CDATA #REQUIRED>
<!ATTLIST edicion nombre CDATA #REQUIRED>

<!ELEMENT categoria (pelicula, ganadores?)>
<!ATTLIST categoria nombre CDATA #REQUIRED>

<!ELEMENT pelicula (#PCDATA)>
<!ELEMENT ganadores (persona+)>
<!ELEMENT persona (#PCDATA)>
